body{
    background-color: #ECEBDE;
    /* color: rgb(255, 255, 255); */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    
}
.coffee-navbar {
  background-color: #C1BAA1; /* Coffee brown */

}
